<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logotipo_test_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logotipo_test_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskSave"
        tools:targetApi="31">
        <activity
            android:name=".test.activities.ActivityConfgSecSenha"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activities.ActivityConfgPerfilEmail"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activities.ActivityConfgAparencia"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activities.ActivityConfgNotificacao"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activities.ActivityConfgSobre"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activities.ActivityConfgSecPermissao"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activities.ActivityConfgSecFingerprint"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activities.ActivitySecPriv"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activities.ActivityMain"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".test.activities.ActivityItemSelectedAgenda"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.activities.ActivityCalendar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.activities.ActivityConfgPerfilNome"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".test.activities.ActivityConfgPerfil"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.activities.ActivityConfg"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.activities.ActivityWelcome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.activities.ActivityItemSelectedAgendaConcluido"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.activities.ActivityAgendaConcluido"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.activities.ActivitySplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TaskSave"> <!-- Restante das atividades -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.activities.ActivityAgenda"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".test.activities.ActivityLogin"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowFullscreen="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".test.activities.ActivityCadastro"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".test.servicesreceiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".test.servicesreceiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".test.servicesreceiver.AgendamentoService"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.example.tasksave.ACTION_SCHEDULE_JOB" />
            </intent-filter>
        </service>
    </application>

</manifest>