<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logotipo_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logotipo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskSave"
        tools:targetApi="31">
        <activity
            android:name=".layout_activity_agenda_concluido"
            android:exported="false" />
        <activity
            android:name=".activity_agenda_concluido"
            android:exported="false" />
        <activity
            android:name=".activity_item_selected_agenda"
            android:exported="false" /> <!-- Definir a SplashActivity como a atividade principal -->
        <activity
            android:name=".activity_splash_screen"
            android:exported="true"
            android:theme="@style/Theme.TaskSave">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Restante das atividades -->
        <activity
            android:name=".layout_activity"
            android:exported="false" />
        <activity
            android:name=".activity_add_agenda_hora"
            android:exported="false" />
        <activity
            android:name=".activity_add_agenda_data"
            android:exported="false" />
        <activity
            android:name=".activity_add_agenda"
            android:exported="false" />
        <activity
            android:name=".activity_agenda"
            android:exported="false" />
        <activity
            android:name=".activity_fingerprint"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="false" />
        <activity
            android:name=".activity_main"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AgendamentoService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.example.tasksave.ACTION_SCHEDULE_JOB" />
            </intent-filter>
        </service>
    </application>

</manifest>